*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
}


.square {
    width: 5rem;
    height: 5rem;
    font-size: 1.6rem;
    background-color: gray;
    margin: 0 -1px -1px 0; /* separates cell margins so they don't overlap */
    opacity: 0; /* Transition opacity between square and hovered square
                   so that I can make a trailing cursor */
    transition: opacity 2s ease 6s, transform 0.8s ease;
    transform: scale(1);
}

.square:hover {
    opacity: 1;
    transition: opacity 0.2s ease;
    transform: scale(1.04);
}


