*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start {
    padding: 1rem 3rem;
    border: 1px solid gray;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.retry {
    padding: 1rem 3rem;
    border: 1px solid gray;
    font-size: 1.6rem;
    margin-top: 3rem;
}


.color-container {
    display: flex;
    gap: 2rem;
    margin-bottom: 5rem;
}

.row {
    display: flex;
}

.square {
    width: 2rem;
    height: 2rem;
    border: 0.2px solid gray;
    margin: 0 -1px -1px 0; /* separates cell margins so they don't overlap */
    
}

.square:hover {
    opacity: 1;
    
}

/* Separated color id's from color classes, the ID's will be used for
   the buttons that change the color of the drawing while the classes
   will be used for the hover class that changes the color */

#red {
    padding: 1rem 3rem;
    color: white;
    border: none;
    font-size: 1.6rem;
    background-color: red;

}

.red {
    background-color: red;
}

#blue {
    padding: 1rem 3rem;
    color: white;
    border: none;
    font-size: 1.6rem;
    background-color: blue;
}

.blue {
    background-color: blue;
}

#orange {
    padding: 1rem 3rem;
    color: white;
    border: none;
    font-size: 1.6rem;
    background-color: orange;
}

.orange {
    background-color: orange;
}

#brown {
    padding: 1rem 3rem;
    color: white;
    border: none;
    font-size: 1.6rem;
    background-color: brown;
}

.brown {
    background-color: brown;
}

#black {
    padding: 1rem 3rem;
    color: white;
    border: none;
    font-size: 1.6rem;
    background-color: black;
}

.black {
    background-color: black;
}

#pink {
    padding: 1rem 3rem;
    color: white;
    border: none;
    font-size: 1.6rem;
    background-color: pink;
}

.pink {
    background-color: pink;
}

#purple {
    padding: 1rem 3rem;
    color: white;
    border: none;
    font-size: 1.6rem;
    background-color: purple;
}

.purple {
    background-color: purple;
}

#green {
    padding: 1rem 3rem;
    color: white;
    border: none;
    font-size: 1.6rem;
    background-color: green;
}

.green {
    background-color: green;
}
